<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=divice-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="{{STATIC_URL}}css/styles.css">
	<title> {% block title %} {% endblock %} </title>
</head>
<body>
	<header class="header relative border-bottom">
		<div class="logo">
			<div class="wrap center-block">
				<figure class="image isotipo left">
					<img src="" alt="sipa">
				</figure>
			</div>
			<div class="name center-text">
				<h2 class="title-torneo">{{ title|upper }} </h2>
			</div>
		</div>
		<a href="" class="button-menu icon-menu"></a>
		<nav class="menu">
			<ul class="list center-block wrap">
				<li class="item"><a href="">Home</a></li>
				<li class="item"><a href="">Fixture</a></li>
				<li class="item"><a href="">Goleadores</a></li>
				<li class="item"><a href="">Amonestados</a></li>
				<li class="item"><a href="">Fotos</a></li>
				<li class="item"><a href="">Login</a></li>
				<li class="item"><a href="">Contactanos</a></li>
			</ul>
		</nav>
		<div class="title">
			<span>
				{{ title }}
			</span>
		</div>
	</header>
	<section class="torneo small medium large">
		{% block content %} {% endblock %}
	</section>
	<section class="container">
		{% block container %} {% endblock %}
	</section>
</body>
</html>
